body {
    padding-top: 10px;
}

table.people col.name {
    width: 20%;
}

table.people col.email {
    width: 25%;
}

table.people col.address {
    width: 35%;
}

table.people col.actions {
}

table.people thead {
    background-color: #FFF;
}

table.people input, table.people select {
    font-weight: normal;
}

table.people a.information {
    cursor: pointer;
}
